//variables
$white: #fafafa;
$shadow:#b3b1b3;
$purple: #7d32b5;
$text: #675C52;
$pink: #F6406B;

//mixins
@mixin shadow ($h, $v, $blur, $spread, $color){
  box-shadow: $h $v $blur $spread $color;
}

//GLOBALS
a {
  text-decoration: none;
  color: $white;
}

.nav{
	background-color:#3c8ead;
}
.nav-link{
	color:#fffffd;
}
.jumbotron{
	margin-top: 10px;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;
}

.testBox {
  border: 1px solid black;
}


.display-5{
	text-align: center;
}
.card{
	max-width: 30rem;
	display: block;
    margin: 0 auto;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;
}


button {
  background-color: $purple;
  border: 1px solid $text;
  border-radius: 10px;
  color: $white;
}

//FIRST PAGE 
.divHolder {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px){
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}
.icon, .intro {
  -webkit-box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
  -moz-box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
  box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
  @media screen and (min-width: 768px) {
    flex: 0 1 48%;
  }
}
.intro {
  padding: 0.5em;
  @media screen and (min-width: 768px) {
    padding: 1em;
  }
  @media screen and (min-width: 768px) {
    padding: 2em;
  }
}
.introText {
  font-size: 1em;
  @media screen and (min-width: 440px){
    font-size: 1.25em;
  }
}
.icon {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 440px){
    padding: 1.5em;
  }

}
#circleBtn {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration:500ms;
  animation-duration: 500ms;
  
  &:hover {
    cursor: pointer;
  }
}
.iconImg{
	width: 100%;
}
.hover{
  background-color: black;
}
//SECOND PAGE (THE API FIREBASE MONEY)

.recipeCard {
  // display: inline-block;
  @include shadow(0, 0, 10px, 3px, $shadow);
}

.cals {
  font-size: 1.5em;
}
.cardGroup{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.recipeLabel{
  background-color: $pink;
}