//variables

//mixins
@mixin circle($s){
  width: $s;
  height: $s;
  border-radius: 50%;
  border: 2px solid black;
}

div{
	border-radius: 25px;
}
img{
	height: 50%;
	width: 50%;
	display: block;
    margin: 0 auto;
}

.nav{
	background-color:#3c8ead;
}
.nav-link{
	color:#fffffd;
}
.jumbotron{
	margin-top: 10px;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;
}
.display-5{
	text-align: center;
}
.card{
	max-width: 30rem;
	display: block;
    margin: 0 auto;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;
}
.diet, .ingredient{
	-webkit-box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
	-moz-box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
	box-shadow: 11px -9px 5px 0px rgba(235,235,235,1);
}

.dietBtn {
  @include circle(5em);
  background-color: rgb(64, 142, 171);//get color from Louis
}